
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


.navbar{
    background-color: #0b9cda;
}


img{
    width: 100%;
    height: auto;
}

#cardss{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.card{
    min-width: 350px !important;
    width:400px !important;
    max-width: 450px !important;
    height: auto;
    margin: 20px;
    border-radius: 18px;
    box-shadow: none;
    padding: 11px;
    transition: 400ms ease-in-out;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 400ms ease-in-out;
    box-shadow: 0px 10px 25px rgba(127, 127, 127, 0.4);
}
.khabare{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#readno{
    cursor: pointer;
    display: flex;
    justify-content: center;
    
}